@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.logo{
    background: url("../../../../../assets/logo.svg");
    background-size: cover;
    width: 60px;
    margin-left: 48px;
    margin-top: 0px;
}

.logoOptions{
    background: url("../../../../../assets/logo.svg");
    background-size: cover;
    width: 60px;
    margin-left: 55px;
}

.logoTestOption{
    background: url("../../../../../assets/logo.svg");
    background-size: cover;
    width: 60px;
    position: relative;
    margin-left: -210px;

}

.logoText{
    font-family: 'Plus Jakarta Sans';
    position: relative;
    left: 50px;
    padding-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #5FC56E;
    width: 200px;
    display: block;
    height: 100%;
}

.bodyBarSearch{
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    //max-width: 1600px;
    background: #FFFFFF;
    height: 77px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0px;





    .cardIconSearchBar{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5FC56E;
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 40px;
        color: #5fc56d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        top: 23px;
        right: 65px;
        .cardImgSearchBar{
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            height: 17px;
            width: 17px;
            color: #FFFFFF;
            background-repeat: no-repeat;
        }
        .cartElemQuantitySearchBar{
            font-family: 'Roboto';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            padding-left: 2px;
            line-height: 16px;
            color: #FFFFFF;
            top: 0px;
            right: 0px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            border: 1px solid #F46363;
            background: #F46363;
        }
    }

    .userAccEmail{
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        color: #4c4c4c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        top: 17px;
        right: 135px;
    }
    .userIconSearchBar{
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        color: #5fc56d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        top: 17px;
        right: 65px;
    }
    .LoginButton{
        cursor: pointer;
        position: absolute;
        height: 40px;
        font-family: "Inter";
        width: 160px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        top: 17px;
        right: 70px;
        border:1px solid;

        border-color: #9D9D9D;
        border-radius: 7px;
    }

    .MyAccaountButton{
        cursor: pointer;
        position: absolute;
        height: 40px;
        font-family: "Inter";
        color: #fff;
        width: 160px;
        border-radius: 40px;
        display: flex;
        background-color: #5FC56E;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        top: 17px;
        right: 70px;
        border: 1px solid #9D9D9D;
        border-radius: 7px;
        transition: 0.3s;
    }
    .MyAccaountButton.active{
        cursor: pointer;

        color: black;
        background-color: #fff;
        .ProfileImage{
            color:#5fc56d
        }
    }
    .Dropmenu{
        justify-content: center;
        position: absolute;
        top: 77px;
        right: 70px;
        width: 220px;
        height: 145px;
        padding: 5px;
        background-color: #fff;
        box-shadow: -3px 4px 4px 0px #00000040;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: 0.3s;

    }
    .Dropmenu.active{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .Dropmenu_list{
        width: 100%;
        .Dropmenu_items{
            cursor: pointer;
            display: flex;
            font-family: "Plus Jakarta Sans";
            font-size: 16px ;
            font-weight: 400;
            margin-bottom: 17px;
            margin-left: 12px;
        }
    }

    .Droptext{
        margin-left: 10px;

        justify-content: space-between;
    }
    .cartIconSearchBar{
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        color: #5fc56d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        top: 17px;
        right: 40px;
    }
}
.bodyBarSearchFirst{
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100%;
    //max-width: 1600px   ;
    background: #FFFFFF;
    height: 77px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0px;
    .logo{
        background: url("../../../../../assets/logo.svg");
        background-size: cover;
        width: 60px;
        margin-left: -180px;
        margin-top: 0px;
    }
}

.bodyBarSearchOptions{
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    background: #FFFFFF;
    height: 77px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    //max-width: 1600px;
    left: 0px;
}

.search{
    width: 422px;
    height: 40px;
    margin-left: 150px;
}

.searchInput{
    width: 422px;
    height: 40px;
    margin-top: 18px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    text-align: left;
    padding-left: 26px;
    background: #FFFFFF;
    color: #4C4C4D;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;

}

.searchInput::placeholder{
    color: #C2C2C2;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
}

.searchInput:focus{
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    outline: none;
}

.searchIcon{
    background: url("../../../../../assets/searchIcon.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    position: relative;
    top: -30px;
    right: 5px;
    float: right;
}


.searchIcon-2{
    background: url("../../../../../assets/closeButton.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    position: relative;
    top: -30px;
    right: 8px;
    float: right;
}

.optionsBack{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #9D9D9D;
    cursor: pointer;
    .optionsBackArrow{
        font-size: 20px;
        margin-right: 8px;
        margin-top: 2px;
        font-weight: 500;
    }
}

.optionsBack-mobile{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 15px;
    color: #9D9D9D;
    .optionsBackArrow-mobile{
        font-size: 12px;
        margin-right: 4px;
        margin-top: 1px;
        font-weight: 500;
    }
}


.bodyBarSearch-mobile{
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.logoAndText-mobile{
    display: flex;
    justify-content: center;
    padding-left: 5px;
}
.logoAndTextCartIsOpen-mobile{
    margin-top: 5px;
    margin-left: -10px;
}

.logo-mobile{
    background: url("../../../../../assets/logo.svg");
    background-size: cover;
    width: 38px;
    height: 47px;
    margin-top: 0px;
}

.logoText-mobile{
    font-family: 'Plus Jakarta Sans';
    position: relative;
    font-style: normal;
    margin-top: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #5FC56E;
}

.search-mobile{
    width: 255px;
    height: 36px;
    margin-bottom: 7px;
}

.searchInput-mobile{
    width: 255px;
    height: 36px;
    border-radius: 10px;
    text-align: left;
    padding-left: 26px;
    background: #E8E8E8;
    color: #4C4C4D;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
}


.searchInput-mobile::placeholder{
    color: #C2C2C2;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
}

.searchInput-mobile:focus{
    border-radius: 10px;
    outline: none;
}

.searchIcon-mobile{
    background: url("../../../../../assets/searchIcon-mobile.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    position: relative;
    top: -29px;
    right: 15px;
    float: right;
}


.iconsAndSearch-mobile{
    display: flex;
    justify-content: space-around;
    .cartIconBackground{
        position: relative;
        width: 30px;
        height: 34px;
        .cartElemQuantity{
            font-family: 'Roboto';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            padding-left: 1px;
            line-height: 16px;
            color: #FFFFFF;
            top: 0px;
            right: -5px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 1px solid #F46363;
            background: #F46363;
        }
    }
}

.iconMenu-mobile{
    color: #5FC56E;
    width: 38px;
    height: 38px;
}


.iconCartBackground-mobile{
    width: 55px;
    display: flex;
    justify-content: center;
    .cartIconBackground{
        position: relative;
        width: 30px;
        height: 34px;
        .cartElemQuantity{
            font-family: 'Roboto';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            padding-left: 1px;
            line-height: 16px;
            color: #FFFFFF;
            top: 12px;
            right: -5px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 1px solid #F46363;
            background: #F46363;
        }
    }
}

.iconCart-mobile{
    color: #5FC56E;
    width: 30px;
    height: 34px;
    font-weight: 700;
}

.userProfile-mobile{
    background: #FFFFFF;
    width: 34px;
    height: 34px;
    border-radius: 30px;
    margin-top: 1px;
}

.iconCartIsOpen-mobile{
    margin-top: 13px;
}

.menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    animation: modal-enter 0.5s ease-out;
}

.menuContent-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5FC56E;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: modal-content-enter 0.5s ease-out;
}

.menuButtons-mobile{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

@keyframes modal-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-content-enter {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes modal-content-exit {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}