.addProductContainer{
  display: flex;
  margin-top: 15px;
  .addProductLeft{
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    color: #000000;

  }
  .addProductRight{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    margin-left: 17px;
    .rightElem{
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: 1.7fr repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;

      .rightElemName{
        margin-right: 0px;
        span{
          margin-left: 10px;
          margin-right: 20px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          img{
            margin: 0px auto;
          }
          color: white;
          border-radius: 50px;
          background: #F5F5F5;
        }

        height: 60px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #000000;
      }

      .switchElems{
        display: flex;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #06C0B0;
        border-radius: 7px;
        height: 40px;

        span{

          margin: 0px auto;
          height: 100%;
          width: 100%;
          border-radius: 6px;
          background: white;
          color: #06C0B0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 32px;
          font-family: Plus Jakarta Sans;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .rightElemValue{
        width: 140px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        .inputRightElem, span{
          width: fit-content;
          max-width: 70px;
          text-align: right;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 39px;
          /* identical to box height */
          color: #5CC3FD;
        }
        .inputRightElem{
          outline: none;
          appearance: none;
          border: none;
          margin-bottom: 0px;
          padding: 0px;
          border-radius: 0px;
          height: auto;
        }
        .inputRightElem::-webkit-outer-spin-button,
        .inputRightElem::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }

      .rightElemSave{
        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        width: 200px;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemSave:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemDelete{

        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
        width: 200px;
      }

      .rightElemDelete:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemBack{
        width: 100px;
        height: 40px;
        margin-left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemBack:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }
      .rightElemValueMB{
        height: 40px;
        font-size: 14px;
        color: #000;
        font-family: Plus Jakarta Sans;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .rightElemPosAbsolute{
      position: absolute;
      display: flex;
      grid-gap: 10px;
      justify-content: center;
      bottom: 30px;
      height: 60px;
      border-radius: 6px;
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      left: 0px;
      right: 0px;
      background: #FFFFFF;
      width: 700px;
      margin: 0px auto;
      .rightElemSave{
        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        width: 200px;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemSave:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemDelete{

        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
        width: 200px;
      }

      .rightElemDelete:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemBack{
        width: 100px;
        height: 40px;
        margin-left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemBack:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }
    }
  }
  .addProductLeftTop{
    display: flex;
    border-radius: 7px;

    .addProductLeftTopImg{
      position: relative;
      width: 268px;
      height: 284px;
      background: #FFFFFF;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      input{
        position: absolute;
        width: 268px;
        height: 284px;
        left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        opacity: 0;
      }
      img{
        border-radius: 7px;

        height: 284px;
      }
    }
    .addProductLeftTopRight{
      display: flex;
      flex-direction: column;
      margin-left: 17px;
      .addProductLeftTopRightName{
        max-width: 307px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .inputBlock{
          outline: none;
          appearance: none;
          border: none;
          height: 50px;
          margin-bottom: 0px;
          padding: 0px;
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          text-align: left;
          padding-left: 17px;

        }
        .inputBlock::-webkit-outer-spin-button,
        .inputBlock::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
      .addProductLeftTopRightInfo{
        font-size: 12px;
        width: 307px;
        height: 120px;
        background: #FFFFFF;
        border-radius: 7px;
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .inputBlock{
          text-align: right;
          outline: none;
          appearance: none;
          border: none;
          height: 16px;
          margin-bottom: 0px;
          padding: 0px;
          width: 224px;
          padding-right: 5px;
          padding-left: 3px;
        }
        .inputBlock::-webkit-outer-spin-button,
        .inputBlock::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        .skuBlock{
          display: flex;
          margin: 0px 15px;
          justify-content: space-between;
          align-items: center;
          .textIdBlock{
            width: 80px;
          }
        }
        .idBlock{
          display: flex;
          align-items: center;
          margin-left: 17px;
          justify-content: space-around;

          .textIdBlock{
            width: 80px;
          }
        }
        .enabledBlock{
          .textIdBlock{
            width: 66px;
          }
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 17px;
          .itemEnabled{
            max-width: 76px;
            height: 30px;
            background: black;
            border: 1px solid #40B98E;
            border-radius: 7px;
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            color: #40B98E;
          }
          .itemDisabled{
            width: 72px;
            height: 26px;
            background: #FEE9EE;
            border: 1px solid #FB547E;
            border-radius: 15px;
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            color: #FB547E;
          }
        }
      }
    }
  }
  .addProductLeftBottom{
    width: 592px;
    height: auto;
    background: #FFFFFF;
    border-radius: 7px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .addProductLeftBottomItem{
      width: 100%;
      .spanTextName{
        width: 270px;
        display: flex;
        align-content: center;
        align-items: center;
        font-size: 16px;
      }
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      .inputBlockLeftBottomItem{
        outline: none;
        appearance: none;
        border: none;
        margin-bottom: 0px;
        padding: 0px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid #E7E7E7;
        color: #A4A4A4;
        margin-top: 7px;
        text-align: right;
      }
      .inputBlockLeftBottomItem::-webkit-outer-spin-button,
      .inputBlockLeftBottomItem::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
  }
}

.addContactContainer{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 20px;
  grid-gap: 20px;
  //align-items: center;
  align-content: center;
  height: 100%;
  position: relative;
  .addContactContainerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    align-items: center;
    align-content: center;
    .addContactContainerTop{
      display: flex;
      grid-gap: 20px;

      align-items: center;
      align-content: center;
      justify-content: space-between;
      .addContactContainerTopElem1{
        border-radius: 7px ;
        height: 215px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .addContactImg{
          position: relative;
          width: 150px;
          height: 150px;
          background: #FFFFFF;
          border-radius: 7px;
          display: flex;
          justify-content: center;
          input{
            position: absolute;
            width: 150px;
            height: 150px;
            left: 0px;
            background: #FFFFFF;
            border-radius: 7px;
            opacity: 0;
          }
          img{
            border-radius: 7px;

            height: 150px;
          }
        }
        .ratingStars{
          width: 150px;
          height: 45px;
          flex-shrink: 0;
          border-radius: 7px;
          background: #FFF;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .rateText{
            margin-bottom: -6px;
            flex-shrink: 0;
            color: #575757;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;
          }
        }

      }
      .addContactContainerTopElem2{
        height: 215px;
        width: 613px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .addContactContainerTopElem2Left{
          width: 305px;
          height: 100%;
          padding: 0px 10px;
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          .textElem{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .textElemName{
              color: #505050;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .addContactContainerTopElem2Right{
          width: 305px;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .imgBlock{
            background-size: cover;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            span{
              margin-left: 8px;
              color: #575757;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              display: inline-flex;
              height: 100%;
              justify-content: center;
              align-items: center;
            }
          }
          .nameBlock{
            color: #A4A4A4;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;

          }
          .qtsTop{
            display: flex;
            border-bottom: 1px solid #cccccc;
            width: 270px;
            margin: 0px auto;

            .quarterTopLeft{
              width: 135px;
              height: 90px;
              border-right: 1px solid #cccccc;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
            .quarterTopRight{
              width: 135px;
              height: 90px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
          }
          .qtsBottom{
            display: flex;
            width: 270px;
            margin: 0px auto;

            .quarterBottomLeft {
              width: 135px;
              height: 90px;
              border-right: 1px solid #cccccc;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }

            .quarterBottomRight {
              width: 135px;
              height: 90px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
          }
        }

      }
      .addContactContainerTopElem3{
        height: 215px;
        width: 230px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
          color: #575757;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0px 10px;
          padding-bottom: 0px;
          display: flex;
          justify-content: space-between;
        }

      }
    }
    .addContactContainerBottom{
      display: flex;
      justify-content: space-between;
      grid-gap: 20px;

      //align-items: center;
      //align-content: center;
      .addContactContainerBottomElem1{
        height: 220px;
        width: 225px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        .addContactContainerBottomElem1One{
          width: 225px;
          height: 100px;
          flex-shrink: 0;
          background: #FFFFFF;
          .someElems{
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            height: 50%;
            .titleSpan{
              color: #575757;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .likeSpan{
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              font-size: 80px;
              padding-right: 5px;
              border-right: 1px solid #cccccc;
            }
            .likeSpan:hover{
              color: #00E471;
            }
            .dislikeSpan{
              width: 30px;
              height: 30px;
              font-size: 80px;
              display: flex;
              justify-content: center;
              align-content: center;
              padding-left: 5px;
              align-items: center;
            }
            .dislikeSpan:hover{
              color: #FB547E;
            }
          }
        }
        .addContactContainerBottomElem1Two{
          width: 225px;
          height: 52px;
          flex-shrink: 0;
          background: #FFFFFF;
          padding: 0px 10px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          div{
            color: #575757;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          span{
            width: 50px;
            height: 30px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #00E371;
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .addContactContainerBottomElem2{
        width: 292px;
        height: 220px;
        flex-shrink: 0;
        border-radius: 7px;
        background: #FFF;
        padding-top: 8px;
        .infoTop{
          .infoTopText {
            color: #575757;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

          }
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;
        }
        .infoBottom{
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;
          margin-top: 10px;
          .progressBlock{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
          }
          .infoBottomText {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .infoBottomTextBlock {

              div {
                color: #F48D5D;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }

              span {

                color: #A4A4A4;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

              }
            }
          }
        }
      }
      .addContactContainerBottomElem3{
        width: 473px;
        height: 100%;
        min-height: 220px;
        flex-shrink: 0;
        border-radius: 7px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        padding-top: 5px;


        .textElem{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          .textElemName{
            color: #A4A4A4;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
  .addContactContainerRight{
    width: 327px;
    min-height: 470px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    padding: 11px 4px 0px 4px;

    .addContactContainerRightStats{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: #000;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
      margin-bottom: 5px;
      .usersElem{
        position: relative;
        width: 100%;
        top: 8px;
        //background: #F1F1F1;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 6px;
        .userElemUsers{
          position: absolute;
          top: 62px;
          left: 33px;
          .userElemUsersElem{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .userElemUsersElemValue{
              color: #8F8F8F;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 25px;
            }
            .userElemUsersElemCheckBoxAndPlarform{
              display: flex;
              grid-gap: 5px;
              align-items: center;
              .userElemUsersElemCheckBox{
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                border-radius: 5px;
                border: 1px solid #C0C0C0;
                background: #FFF;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .userElemUsersElemPlatform{
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

          }
        }
        .userElemArrowBottom{
          position: absolute;
          bottom: 9px;
          right: 10px;
        }
        .userElemCard{
          width: 200px;
          display: flex;
          align-items: center;
          .userElemCardCheckBox{
            width: 26px;
            height: 26px;
            flex-shrink: 0;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
          }
          .userElemCardName{
            padding-left: 4px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            align-items: center;
            align-content: center;
            height: 26px;
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;

            span{
              top: 30px;
              left: 0px;
              position: absolute;
              color: #A4A4A4;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }


      .addContactContainerRightStatsUserElem{
        height: 65px;
        display: flex;
      }

      .addContactContainerRightStatsElem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        .addContactContainerRightStatsElemBlock{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2.75px;

          span{
            width: 26px;
            height: 26px;
            font-size: 18px;
            flex-shrink: 0;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            background: #FFF;
            margin-right: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #C0C0C0;
            font-family: Plus Jakarta Sans;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;
          }
        }
      }

    }

    .addContactContainerRightUpperSwitcher{
      display: flex;
      border-radius: 7px;
      border: 1px solid #06C0B0;
      width: calc(100% - 16px);
      height: 30px;
      margin: 0px auto;
      margin-bottom: 4px;

      .addContactContainerRightUpperSwitcherValue{
        background: #06C0B0;
        color: #FFF;
        font-family: Inter;
        border-radius: 5.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
      }
    }
    .addContactContainerRightInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 10px;
      .addContactContainerRightInfoLeft{
        display: flex;
        div{
          max-width: 20px;
          max-height: 20px;
          border-radius: 7px;
          margin-right: 5px;
          background: black;
        }

      }

      .addContactContainerRightElemsContainer{
        width: 100%;
        display: flex;
        background: black;
        height: auto;
        .addContactContainerRightElemsContainerElem{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          background: lime;

        }
        .addContactContainerRightElemsContainerElemProduct{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
}

.addProductContainer{
  display: flex;
  margin-top: 15px;
  .addProductLeft{
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    color: #000000;

  }
  .addProductRight{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    margin-left: 17px;
    .rightElem{
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: 1.7fr repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;

      .rightElemName{
        margin-right: 0px;
        span{
          margin-left: 10px;
          margin-right: 20px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          img{
            margin: 0px auto;
          }
          color: white;
          border-radius: 50px;
          background: #F5F5F5;
        }

        height: 60px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #000000;
      }

      .switchElems{
        display: flex;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #06C0B0;
        border-radius: 7px;
        height: 40px;

        span{

          margin: 0px auto;
          height: 100%;
          width: 100%;
          border-radius: 6px;
          background: white;
          color: #06C0B0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 32px;
          font-family: Plus Jakarta Sans;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .rightElemValue{
        width: 140px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        .inputRightElem, span{
          width: fit-content;
          max-width: 70px;
          text-align: right;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 39px;
          /* identical to box height */
          color: #5CC3FD;
        }
        .inputRightElem{
          outline: none;
          appearance: none;
          border: none;
          margin-bottom: 0px;
          padding: 0px;
          border-radius: 0px;
          height: auto;
        }
        .inputRightElem::-webkit-outer-spin-button,
        .inputRightElem::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }

      .rightElemSave{
        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        width: 200px;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemSave:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemDelete{

        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
        width: 200px;
      }

      .rightElemDelete:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemBack{
        width: 100px;
        height: 40px;
        margin-left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemBack:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }
      .rightElemValueMB{
        height: 40px;
        font-size: 14px;
        color: #000;
        font-family: Plus Jakarta Sans;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .rightElemPosAbsolute{
      position: absolute;
      display: flex;
      grid-gap: 10px;
      justify-content: center;
      bottom: 30px;
      height: 60px;
      border-radius: 6px;
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      left: 0px;
      right: 0px;
      background: #FFFFFF;
      width: 700px;
      margin: 0px auto;
      .rightElemSave{
        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        width: 200px;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemSave:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemDelete{

        height: 40px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
        width: 200px;
      }

      .rightElemDelete:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }

      .rightElemBack{
        width: 100px;
        height: 40px;
        margin-left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #06C0B0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C0B0;
      }

      .rightElemBack:hover{
        background: #06C0B0;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
        color: #FFFFFF;
      }
    }
  }
  .addProductLeftTop{
    display: flex;
    border-radius: 7px;

    .addProductLeftTopImg{
      position: relative;
      width: 268px;
      height: 284px;
      background: #FFFFFF;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      input{
        position: absolute;
        width: 268px;
        height: 284px;
        left: 0px;
        background: #FFFFFF;
        border-radius: 7px;
        opacity: 0;
      }
      img{
        border-radius: 7px;

        height: 284px;
      }
    }
    .addProductLeftTopRight{
      display: flex;
      flex-direction: column;
      margin-left: 17px;
      .addProductLeftTopRightName{
        max-width: 307px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .inputBlock{
          outline: none;
          appearance: none;
          border: none;
          height: 50px;
          margin-bottom: 0px;
          padding: 0px;
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          text-align: left;
          padding-left: 17px;

        }
        .inputBlock::-webkit-outer-spin-button,
        .inputBlock::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
      .addProductLeftTopRightInfo{
        font-size: 12px;
        width: 307px;
        height: 120px;
        background: #FFFFFF;
        border-radius: 7px;
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .inputBlock{
          text-align: right;
          outline: none;
          appearance: none;
          border: none;
          height: 16px;
          margin-bottom: 0px;
          padding: 0px;
          width: 224px;
          padding-right: 5px;
          padding-left: 3px;
        }
        .inputBlock::-webkit-outer-spin-button,
        .inputBlock::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        .skuBlock{
          display: flex;
          margin: 0px 15px;
          justify-content: space-between;
          align-items: center;
          .textIdBlock{
            width: 80px;
          }
        }
        .idBlock{
          display: flex;
          align-items: center;
          margin-left: 17px;
          justify-content: space-around;

          .textIdBlock{
            width: 80px;
          }
        }
        .enabledBlock{
          .textIdBlock{
            width: 66px;
          }
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 17px;
          .itemEnabled{
            max-width: 76px;
            height: 30px;
            background: black;
            border: 1px solid #40B98E;
            border-radius: 7px;
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            color: #40B98E;
          }
          .itemDisabled{
            width: 72px;
            height: 26px;
            background: #FEE9EE;
            border: 1px solid #FB547E;
            border-radius: 15px;
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            color: #FB547E;
          }
        }
      }
    }
  }
  .addProductLeftBottom{
    width: 592px;
    height: auto;
    background: #FFFFFF;
    border-radius: 7px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .addProductLeftBottomItem{
      width: 100%;
      .spanTextName{
        width: 270px;
        display: flex;
        align-content: center;
        align-items: center;
        font-size: 16px;
      }
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      .inputBlockLeftBottomItem{
        outline: none;
        appearance: none;
        border: none;
        margin-bottom: 0px;
        padding: 0px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid #E7E7E7;
        color: #A4A4A4;
        margin-top: 7px;
        text-align: right;
      }
      .inputBlockLeftBottomItem::-webkit-outer-spin-button,
      .inputBlockLeftBottomItem::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
  }
}

.addContactContainer{
  display: flex;
  justify-content: center;
  margin: 20px auto 0px;
  grid-gap: 20px;
  align-content: center;
  height: 100%;
  position: relative;
  .addProductBlock{
    width: 452px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    z-index: 105;
    top: 100px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -4px 6px 4px 0px rgba(0, 0, 0, 0.25);
    .addProductBlockTitle{
      color: #06C0B0;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .addProductBlockInfoLine{
      width: 100%;
      background: #06C0B0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      padding-left: 18px;
      padding-right: 18px;
      align-items: center;
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      .addProductBlockInfoLineCheckbox{
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #D9D9D9;
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .addProductBlockInfosearchBlock{

        display: flex;
        align-items: center;
        position: relative;
        .search{
          width: 200px;
          height: 40px;
        }
        span{
          position: absolute;
          right: 8px;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #06C0B0;
        }

      }
    }
    .addProductBlockElems{
      height: 260px;
      overflow: auto;
      .addProductBlockElem{
        margin-top: 15px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
        align-items: center;
        color: black;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .addProductBlockInfoLineName{
        white-space: nowrap;
        font-size: 12px;
      }
      .addProductBlockInfoLineImage{
        display: flex;
        justify-content: center;
        align-items: center;
        .itemImage{
          position: relative;
          top: 1px;
          width: auto;
          height: 40px;
        }
      }
      .addProductBlockInfoLineCheckbox{
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #D9D9D9;
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .addProductBlockAddButton{
      position: absolute;
      right: 5px;
      bottom: 5px;
      width: 150px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 7px;
      background: #06C0B0;
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
  .addContactContainerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    align-items: center;
    align-content: center;
    .addContactContainerTop{
      display: flex;
      grid-gap: 20px;

      align-items: center;
      align-content: center;
      justify-content: space-between;
      .addContactContainerTopElem1{
        height: 215px;
        width: 191px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background: #AAEAF8;
        .addContactContainerTopElem1Right{
          position: relative;
          right: 16px;
          top: 6px;
          display: flex;
          flex-direction: column;
          .someLinks{
            margin-bottom: 5px;
            width: 26px;
            height: 26px;
            img{
              width: 26px;
              height: 26px;
            }

          }
        }
        .addContactContainerTopElem1Left {

          width: 130px;
          .clientStatusButtons{
            position: relative;
            left: 6px;
            .statusButton{
              margin-top: 6px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .statusButtonSpanDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                background: #D9D9D9;
              }
              span{

                color: #000;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

              }
              .checkboxClients{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 1px solid #C0C0C0;
                background: #FFF;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
              }
            }
          }
          .userIdField{
            width: 115px;
            overflow: hidden;
            position: relative;
            top: 3px;
            left: 6px;
            margin-top: 5px;
            color: #505050;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

          }
          .addContactImg {
            position: relative;
            top: 6px;
            left: 6px;
            width: 110px;
            height: 110px;
            background: #FFFFFF;
            border-radius: 7px;
            display: flex;
            justify-content: center;

            input {
              position: absolute;
              width: 110px;
              height: 110px;
              left: 0px;
              background: #FFFFFF;
              border-radius: 7px;
              opacity: 0;
            }

            img {
              border-radius: 7px;
              height: 110px;
            }
          }
        }

      }
      .addContactContainerTopElem2{
        height: 215px;
        width: 613px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .addContactContainerTopElem2Left{
          border-radius: 7px;
          width: 305px;
          height: 100%;
          padding: 0px 10px;
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          .textElem{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .textElemName{
              color: #505050;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .addContactContainerTopElem2Right{
          width: 305px;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .imgBlock{
            background-size: cover;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            span{
              margin-left: 8px;
              color: #575757;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              display: inline-flex;
              height: 100%;
              justify-content: center;
              align-items: center;
            }
          }
          .nameBlock{
            color: #A4A4A4;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;

          }
          .qtsTop{
            display: flex;
            border-bottom: 1px solid #cccccc;
            width: 270px;
            margin: 0px auto;

            .quarterTopLeft{
              width: 135px;
              height: 90px;
              border-right: 1px solid #cccccc;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
            .quarterTopRight{
              width: 135px;
              height: 90px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
          }
          .qtsBottom{
            display: flex;
            width: 270px;
            margin: 0px auto;

            .quarterBottomLeft {
              width: 135px;
              height: 90px;
              border-right: 1px solid #cccccc;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }

            .quarterBottomRight {
              width: 135px;
              height: 90px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
          }
        }

      }
      .addContactContainerTopElem3{
        height: 215px;
        width: 230px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
          color: #575757;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0px 10px;
          padding-bottom: 0px;
          display: flex;
          justify-content: space-between;
        }

      }
    }
    .addContactContainerBottom{
      display: flex;
      justify-content: space-between;
      grid-gap: 20px;

      //align-items: center;
      //align-content: center;
      .addContactContainerBottomElem1{
        height: 220px;
        width: 225px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        .addContactContainerBottomElem1One{
          background: none;
          position: relative;
          left: -25px;
          width: 250px;
          height: 100%;
          flex-shrink: 0;
          .ratingStars{
            width: 100%;
            height: 45px;
            flex-shrink: 0;
            border-radius: 7px;
            background: #FFF;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .rateText{
              margin-bottom: -6px;
              flex-shrink: 0;
              color: #575757;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              white-space: nowrap;
            }
          }
          .addContactContainerBottomElem1Two{
            width: 250px;
            height: 52px;
            flex-shrink: 0;
            background: #FFFFFF;
            border-radius: 7px;
            padding: 0px 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
              color: #575757;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            span{
              width: 50px;
              height: 30px;
              flex-shrink: 0;
              border-radius: 10px;
              background: #00E371;
              color: #FFF;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .someElemsDiv {
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 7px;
            background: #FFF;
            height: 100px;
            .someElems {
              display: flex;
              justify-content: space-around;
              align-items: center;
              align-content: center;
              height: 50%;

              .titleSpan {
                color: #575757;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              .likeSpan {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                font-size: 80px;
                padding-right: 5px;
                border-right: 1px solid #cccccc;
              }

              .likeSpan:hover {
                color: #00E471;
              }

              .dislikeSpan {
                width: 30px;
                height: 30px;
                font-size: 80px;
                display: flex;
                justify-content: center;
                align-content: center;
                padding-left: 5px;
                align-items: center;
              }

              .dislikeSpan:hover {
                color: #FB547E;
              }
            }
          }

        }

      }
      .addContactContainerBottomElem2{
        width: 292px;
        height: 220px;
        flex-shrink: 0;
        border-radius: 7px;
        background: #FFF;
        padding-top: 8px;
        .infoTop{
          .infoTopText {
            color: #575757;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

          }
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;
        }
        .infoBottom{
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;
          margin-top: 10px;
          .progressBlock{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
          }
          .infoBottomText {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .infoBottomTextBlock {

              div {
                color: #F48D5D;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }

              span {

                color: #A4A4A4;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

              }
            }
          }
        }
      }
      .addContactContainerBottomElem3{
        width: 473px;
        height: 100%;
        min-height: 220px;
        flex-shrink: 0;
        border-radius: 7px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        padding-top: 5px;


        .textElem{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          .textElemName{
            color: #A4A4A4;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
  .addContactContainerRight{
    width: 327px;
    min-height: 470px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
  }
}